<form action="/" method="post" class="form">
  <div class="form-group">
    <textarea name="content" class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Convert</button>
  </div>
</form>

<% if @result %>
  <form class="form">
    <div class="form-group">
      <textarea class="form-control converted-text" rows="3" readonly><%= @result %></textarea>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-default copy-button" data-clipboard-target=".converted-text">Copy to clipboard</a>
    </div>
  </form>
<% end %>

<script>
  $(function() {
    $("textarea").each(function(_, t) {
      var offset = !window.opera ? (t.offsetHeight - t.clientHeight) : (t.offsetHeight + parseInt(window.getComputedStyle(t, null).getPropertyValue("border-top-width"))) ;

      $(t).on("input keyup change", function() {
        t.style.height = "auto";
        t.style.height = (t.scrollHeight  + offset ) + "px";
      }).trigger("keyup");
    });

    new Clipboard('.copy-button');
  });
</script>
